html {
    overflow: hidden;
}

button:hover {
    transform: scale(1.1);
    transition: 500ms;
}

.bg-neutro {
    background-image: url("../img/bg-loginCadastro.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #CDCDCD;
    align-items: center;
    justify-content: center;
}

.content-cadastro {
    display: flex;
    background: #ffff;
    width: 1011px;
    height: 536px;
    flex-wrap: wrap;
}

.formulario {
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.seta {
    width: 34px;
    height: 24px;
    transform: translate(-240px, 50px);
}

.logo {
    margin-bottom: 5px;
}

.logo img {
    height: 68px;
}

.formulario-bem-vindo {
    margin-bottom: 5px;
}

.formulario-bem-vindo h2 {
    color: #3F3F3F;
    font-size: 23px;
    font-weight: 600;
}


/* Animação */
#Etapa2,
#Etapa3 {
    display: none;
}

@keyframes etapaProximo {
    0% {
        opacity: 0.6;
        transform: translateX(10px);
    }
}

@keyframes etapaAnterior {
    0% {
        opacity: 0.6;
        transform: translateX(-10px);
    }
}

.numeroEtapas {
    position: absolute;
    transform: translate(-260px, 60px);
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 210px;
    transition: 1.4s;
}

.numeroEtapasBarra {
    position: absolute;
    transform: translate(-240px, 60px);
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 180px;
}

.numero {
    border: #000 1px solid;
    border-radius: 100%;
    margin-bottom: 20px;
    width: 50px;
    height: 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.numero h2 {
    font-size: 20px;
    position: absolute;
    align-self: center;
}

.numero .encherTransicao {
    position: relative;
    width: 100px;
    height: 0%;
    transition: 0.4s;
    background-color: #003849;
    transition: .5s;
}

.numeroPreenchido {
    border: #005670 2px solid;
    transition: 1s;
}

.numeroPreenchido .encherTransicao {
    height: 100%;
}

.numeroPreenchido h2 {
    color: #ffff;
    transition: 1s;
}

.barra {
    z-index: -1;
    position: relative;
    width: 10px;
    height: 0%;
    background-color: #003849;
    transition: .5s;
}

/* ----------- */

.form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 354px;
}

.etapaProximo {
    animation: etapaProximo 1s;
}

.etapaAnterior {
    animation: etapaAnterior 1s;
}

.form-titulo h2 {
    font-size: 16px;
    font-weight: 600;
}

.form-boxes {
    display: flex;
    flex-direction: column;
    height: 292px;
}

.form-box {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.form-box label {
    color: #7F7D7D;
    font-weight: 600;
    margin-bottom: 4px;
}

.form-box input {
    width: 324px;
    height: 28px;
    box-shadow: 1px 1px 3px 4px rgba(186, 186, 186, 0.90);
    border-radius: 12px;
    font-size: 13px;
    padding: 5px 15px;
    background-color: #F8F8F8;
}

.form-buttons {
    display: flex;
    justify-content: space-around;
    width: 324px;
}

.form-buttons button {
    font-size: 19px;
    padding: 2px 30px;
    border-radius: 14px;
    box-shadow: 1px 1px 3px 1px rgb(0 0 0 / 30%);
    cursor: pointer;
    transition: 500ms;
    color: #ffff;
    background-color: #003849;
}

.form-buttons button:hover {
    border: #003849 1px solid;
    background-color: #005670;
}


.pre-view {
    width: 40%;
    background-color: #263238;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.pre-view * {
    color: #ffff;
}

.pre-view-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pre-view-titulo {
    width: 231px;
    text-align: center;
    margin-bottom: 30px;
}

.pre-view-titulo h2 {
    font-size: 24px;
    font-weight: 600;
}

.pre-view-subtitulo {
    margin-bottom: -30px;
}

.pre-view-subtitulo h3 {
    font-size: 17px;
    font-weight: 500;
}

.pre-view-subtitulo span {
    color: #64C7AF;
}

.system-img img {
    height: 235px;
    width: 278px;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.form-cep input {
    width: 170px;
}

.form-numero input {
    width: 130px;

}

/* Responsividade */
@media only screen and (max-width: 820px) {
    .bg-neutro {
        background-color: #263238;
    }

    .content-cadastro {
        flex-wrap: wrap;
        height: 100vh;
    }

    .pre-view {
        height: 40vh;
        min-width: 100vw;
    }

    .formulario {
        width: 100vw;
        min-height: 60vh;
        justify-content: center;
    }

    .seta {
        width: 64px;
        height: 55px;
        transform: translate(-300px, 50px);
    }

    .logo img {
        height: 100px;
    }

    .formulario-bem-vindo h2 {
        font-size: 32px;
    }

    .form-titulo h2 {
        font-size: 23px;
    }

    .form {
        height: 500px;
        padding-bottom: 30px;
    }

    .form-boxes {
        height: 350px;
    }


    .form-box label {
        font-size: 22px;
        margin-bottom: 4px;
    }

    .form-box input {
        width: 454px;
        font-size: 19px;
        padding: 18px 15px;
    }

    .form-cep input {
        width: 260px;
    }

    .form-numero input {
        width: 160px;

    }

    .form-buttons {
        width: 454px;
    }

    .form-buttons button {
        font-size: 23px;
        padding: 5px 40px;
        border-radius: 14px;
    }

    .numeroEtapas {
        transform: translate(-320px, 130px);
        height: 300px;
    }

    .numeroEtapasBarra {
        transform: translate(-300px, 130px);
        height: 180px;
    }

    .numero h2 {
        font-size: 30px;
    }

    .pre-view {
        flex-direction: row;
    }

    .pre-view-titulo {
        width: 300px;
    }

    .pre-view-titulo h2 {
        font-size: 30px;
    }

    .pre-view-subtitulo {
        margin-bottom: 0px;
    }

    .pre-view-subtitulo h3 {
        font-size: 20px;
    }

    .system-img img {
        height: 275px;
        width: 318px;
    }
}