body {
  display: flex;
  background-color: #F8F1F1;
}

.principal {
  width: 85%;
  height: 90vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row  {
  display: flex;
  
}

.row1{
  height: 300px;
}



.row-1 .square {
  font-size: 2em;
  border-bottom: 10px solid #00556A ;
}

.square {
  display: flex;
  align-items: center;
  box-shadow: 0px px 4px rgba(0, 0, 0, 0.25);
  flex: 1;
  height: 220px;
  border-radius: 10px;
  background-color: #FCFCFC;

}

.square:nth-child(4) {
  flex: 1;
  flex-basis: 200px;

}

.content-indicadores{
  padding: 0 25px;
}
.content-indicadores h2{
  font-weight: 500;
  font-size: 1em;
  color: #00556A;
  margin-bottom: 20px;
}

.content-indicadores span{
  font-size: 1.8em;
  font-weight: bold;
  color: #00556A;
  
}


.menu {
  position: relative !important;
  height: 100vh;
}

.content-row {
  align-items: center;
  width: 100%;
  display: flex;
  column-gap: 40px;
  justify-content: center;
}


.row-2{
  height: 500px;
}
.graphic>.square{
flex: 2;
height: 100%;

}

.graphic>.square{
  display: flex;
  flex-direction: column;
  padding: 15px;
  align-items: flex-start;
}



.graphic>.square .content-graphic{
  height: 100%;
}

.graphic>.square .content-graphic canvas{
  width: 100% !important;
  height:98% !important;
}


.graphic>.square:nth-child(2){
  flex: 1;
}

.graphic>.square:nth-child(2) h2{
  margin: auto;
}

.content-graphic #graphicBola{
  width: 80% !important;
  height: 90% !important;

}

.content-graphic{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}