body {
    display: flex;
    overflow-x: scroll;
    width: 200vw;



}

body::-webkit-scrollbar {
    display: none;
}

.menu {
    width: 15vw;
    position: relative;
    height: 100vh;
    background-color: #0E4354;
}




.principal {
    max-width: 1500px;
    width: 83vw;
    height: 95vh;
    margin: auto;
    display: grid;
    grid-template-rows: 1fr 8fr;
    grid-template-columns: 2fr 4fr;
    column-gap: 30px;
    grid-template-areas:
        'header header header'
        'kpi grafico grafico'
        'kpi grafico grafico'
        'kpi grafico grafico'
        'kpi grafico grafico'
    ;
}



.row {
    grid-area: header;
}


.row .square {
    display: flex;
    width: max-content;
    color: #fff;
    border-radius: 5px;
    column-gap: 10px;
    height: max-content;
    align-items: center;

}

.row .square * {
    font-size: 1.1em;
    font-weight: bold;
}

.row .square .info-atm {
    display: flex;
    column-gap: 10px;
    background-color: #0E4354;
    padding: 10px 30px;
    border-radius: 12px;
    align-items: center;
}



.row .square .content-btn button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #0E4354;
    color: #fff;
    cursor: pointer;
}

.row .square .content-btn span {
    color: #222;
    font-weight: 500;
}

.square .bolinha {
    width: 20px;
    height: 20px;
    display: block;
    background-color: #06d339;
    border-radius: 50%;
}

.column-graphic {
    grid-area: grafico;
    display: grid;
    row-gap: 30px;
    column-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}



.content-graphic {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    position: relative;
}

.column-graphic .legend {
    width: 100%;
    flex: 1;
    background-color: #0E4354;

    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    padding: 10px 0px;
}

.column-graphic .legend .label {
    display: flex;
    align-items: center;
    color: #fff;
    flex-direction: column;
    row-gap: 5px;
}

.column-graphic .legend .label:nth-child(1) span {
    background-color: rgb(16, 211, 16);
    width: 10px;
    height: 10px;


}

.column-graphic .legend .label:nth-child(2) span {
    background-color: yellow;
    width: 10px;
    height: 10px;


}

.column-graphic .legend .label:nth-child(3) span {
    background-color: red;
    width: 10px;
    height: 10px;


}

.column-graphic .grafico {
    height: 100%;
    display: flex;
    flex: 6;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}



.column-graphic .grafico .content-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0E4354;
    padding: 10px;


}

.column-graphic .grafico .content-title .title {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.column-graphic .grafico .content-title select {
    background-color: #0E4354;
    height: 20px;
    color: #fff;
    display: flex;

}

.column-graphic .grafico h2 {
    font-size: 1.3em;
    color: #fff;
    margin: 0 !important;
}


.column-graphic .grafico .btn-alert {
    padding: 5px;
    width: 120px;
    font-weight: bold;
    background-color: white;
    color: #222;
}

.btn-info {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    font-size: 0.8em;
    text-align: center;
    font-weight: bold;
    background-color: #222;
    color: #fff;
    cursor: pointer;
}

.card-info::-webkit-scrollbar {
    display: none;
}



.card-info {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    position: absolute;
    bottom: 0;
    padding: 15px;
    color: #fff;
    overflow-y: scroll;
    height: 0;
    z-index: 2;
    opacity: 0;
    transition: 0.7s;
}

.content-grafico-container {
    position: relative;
    height: 100%;
}



.card-info.active {
    height: 192px;
    opacity: 1;
}

.card-info h2 {
    font-size: 1em;
    margin-bottom: 10px;
}

.card-info h3 {
    font-size: 0.9em;
    font-weight: 500;
}

.info-hd {
    height: 100%;
    display: flex;
}

.column-graphic .grafico .content-HD {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
}

.column-graphic .grafico .content-HD span {
    font-weight: 400;
    color: #222;
}

.column-graphic .grafico .content-HD {
    color: #01252e;
}

.graficoHd {
    width: 230px !important;
    height: 230px !important;

}

.numberHD {
    position: absolute;
    transform: translate(90px, 85px);
    text-align: center;
}

.numberHD h2 {
    font-size: 1.2em;
    font-weight: 700;
    text-align: center;
    color: #222 !important;
}

.numberHD h3 {
    font-size: 0.9em;
    font-weight: 400;
    text-align: center;
    color: #222 !important;
}

.column-kpi {
    grid-area: kpi;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    justify-content: center;
}

.card-kpi {
    width: 100%;
    background-color: #0E4354;
    border-radius: 10px;
    padding: 15px 20px;
    min-height: 150px;
}

.card-kpi * {
    color: #fff;
}

.card-kpi .title {
    text-align: left;
    font-size: 1.3em;
    font-weight: 500;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.card-kpi .title span {
    font-size: 0.5em;
}

.card-kpi .content-indicator {
    display: flex;
    height: 80%;

    align-items: center;
    justify-content: space-between;
}

.card-kpi .content-indicator .number-indicator {
    font-size: 2em;
    font-weight: 600;
}

.card-kpi .content-indicator .text-indicator {
    width: 50%;
    font-size: 0.8em;
    text-align: center;
}

/* Página processo */
.processo-main {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-processo {
    width: 90%;
    height: 95%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.content-processo .row {
    display: flex;
    column-gap: 10px;
    flex: 1;


}

.content-processo .row:nth-child(3) {
    display: flex;
    align-items: center;
    column-gap: 5vw;
    justify-content: center;
    height: 100%;
    flex: 6;    
    flex-direction: row;
}


.content-processo .card-kpi h2 {
    font-size: 1em;
}

.processosKilled table {
    width: 32vw;
    display: flex;
    background-color: #fff;
    flex-direction: column;
    max-height: 40vh;
}

.backProcessosKilled {
    width: 32vw;
    height: 45.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backProcessosExecucao {
    width: 52vw;
    height: 45.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading {
    width: 15vh;
}

.processosExecucao table {
    width: 52vw;
    display: flex;
    background-color: #fff;
    flex-direction: column;
}

.titulo {
    font-size: 1.6em;
    font-weight: 800;
    color: #0E4354;
    padding: 10px;
    text-align: start;
}

thead tr {
    font-size: 1em;
    text-align: start;
    color: #fff;
    background-color: #0E4354;
    padding: 10px;
    font-weight: 500;
}

thead th {
    flex: 1;
    text-align: start;
    padding: 0 10px;
}

tbody {
    display: flex;
    flex-direction: column;
    max-height: 40vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

tbody::-webkit-scrollbar {
    width: 5px;
    background-color: #cdcdcd;
    /* Largura da barra de rolagem */
}

tbody::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #888;
}


tr {
    display: flex;
    width: 100%;
}

.dois {
    flex: 2;
}

.tres {
    flex: 3;
}

td {
    padding: 10px 0 10px 20px;
    flex: 1;
    border-bottom: 1px solid black;
    text-align: start;
}


.content-processo .row .table:nth-child(2) td {
    border: 1px solid black;
    text-align: center;

}

.content-processo .card-kpi h2 {
    font-size: 1em;
}

.aviso {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    row-gap: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(3px);
    height: 100%;
    bottom: 0;
    z-index: -1;
    opacity: 0;
    transition: 0.7s;
}

.aviso>h2 {
    color: rgb(223, 123, 0) !important;
    font-weight: bold;
}

.aviso>p {
    width: 70%;
    color: #fff;
    text-align: center;
}

.aviso.active {
    z-index: 1;
    opacity: 1;
    transition: 0.7s;
}


.legenda {
    position: absolute;
    right: 30px;
    top: 10px;
    font-size: 0.7em;
}

.legenda li::before {
    content: " ";
    background-color: #06d339;
    width: 10px;
    height: 10px;
    display: block;
    margin-right: 10px;

}

.legenda li:nth-child(1):before {
    background-color: #E5A50A;
}

.legenda li:nth-child(2):before {
    background-color: #2D7DB3;
}

.legenda li {
    display: flex;
    align-items: center;

}

.rede{
    display: grid !important;
    grid-template-columns:1fr 2fr 2fr 2fr;
    grid-template-rows:1fr 1fr  ;
    column-gap: 0 !important;
    align-items: center;
    padding: 0 !important;
    justify-content: center;
    text-align: center;
}

.rede span{
    border: 1px solid white;
    padding: 5px;
    font-weight: bold;
    color: white    ;
}


.rede span:nth-child(2),.rede span:nth-child(6){
color:  #06d339;
}


.rede span:nth-child(3),.rede span:nth-child(7){
    color: yellow;
    }

    
    .rede span:nth-child(4  ),.rede span:nth-child(8){
        color: red;
        }
        

.truncated-text-titulo {
    width: 500px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.truncated-text {
    max-width: 180px ;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

