body {
    display: flex;
    background-color: #F8F1F1;
}

html {
    overflow: hidden;
}

button {
    background-color: transparent;
    cursor: pointer;
}

button:hover img,
button:hover {
    transform: scale(1.1);
    transition: 500ms;
}

button:hover,
button:focus {
    transform: scale(1.07, 1.07);
}

button:active {
    transform: scale(0.95, 0.95);
}

.principal {
    width: 100%;
    height: 95vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.conteudo {
    height: 88vh;
    width: 100%;
}

.principal .titulo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.topo {
    display: flex;
    justify-content: space-between;
}

.titulo h1 {
    font-size: 35px;
}

.backElipse {
    margin-left: 170px;
    margin-right: -100px;

}

.elipseUp,
.elipseUp {
    width: 15vw;
    height: 35vh;
}

/* corpo */

.container-all {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 80vh;
    margin-top: 50px;
}

/* Processos */
.container-process {
    display: flex;
    flex-direction: column;
    height: 67vh;
}

.titulo-processo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo-processo h2 {
    font-size: 30px;
}

/* Caixa de pesquisa de processos */

.pesquisa {
    background-color: white;
    border-radius: 5px;
    margin-top: 30px;
}

.input-pesquisa {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 2px 6px;
    border-radius: 5px;
    background: white;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.29);
}

.input-pesquisa button {
    width: 40px;
    height: 40px;
    background-color: white;
}

.input-pesquisa img {
    height: 40px;
    cursor: pointer;
}

.input-pesquisa input {
    width: 100%;
    padding: 0 0 0 20px;
}

/* Inicio Tabela dos Processo */

.titulo-uso-maximo {
    display: flex;
    justify-content: center;
    margin-top: -115px;
    margin-bottom: 50px;
    width: 100%;

}

.titulo-uso-maximo h2 {
    font-size: 30px;
}

.nome-processo {
    display: flex;
    justify-content: flex-start;
    height: 10vh;
    color: #ffff;
    background-color: #00556A;
    text-align: left;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: -30px;
    border-radius: 8px 8px 0 0;
    margin-left: 0px;
}

.nome-processo span {
    color: #ffff;
    background-color: #00556A;
    text-align: left;
    font-weight: 600;
    padding: 8px 0;
    font-size: 1.3rem;
    margin-left: 30px;
}

.nome-processo button:hover div {
    color: #00bbff;
}

.nenhum-cadastrado {
    animation: aparecer_planilha 500ms ease-out;
}

.planilha-processos {
    margin-top: 30px;
    width: 100%;
    animation: aparecer_planilha 500ms ease-out;
    overflow: hidden;
    overflow-y: scroll;
}

@keyframes aparecer_planilha {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.tabela-processos {
    border-collapse: collapse;
    width: 100%;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.30);
    animation: aparecer_planilha 1000ms ease-out;
}


.tabela-processos tr td:first-of-type,
.tabela-processos tr th:first-of-type {
    padding-left: 2rem;
}

.tabela-processos th {
    background-color: #00556A;
    color: #ffffff;
    text-align: left;
    font-weight: 600;
}


.tabela-processos td {
    align-items: center;
    width: max-content;
    margin: 0;
}

.tabela-processos td img,
.tabela-processos td button {
    height: 23px;
    right: 1px;
}

.tabela-processos tr {
    border-bottom: 1px solid #c9c9c9;
}

.tabela-processos tr:last-of-type {
    border-bottom: 2px solid #00556A;
}

.tabela-processos .active-bg {
    background-color: #d6d6d6;
}


/* Fim Tabela dos Processo  */


/* Input adicionar processos */
.add-processo h2 {
    margin-top: 24px;
    font-size: 20px;
}


/* Inicio CSS parametrização hardwares */
.container-hardwares {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 67vh;
}

.titulo-uso-maximo-hw {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    width: 100%;
}

.titulo-uso-maximo-hw h2 {
    font-size: 30px;
}


@keyframes aparecer_planilha {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.table-info {
    border-collapse: collapse;
    width: 40vw;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.30);
    animation: aparecer_planilha 1000ms ease-out;
}

.table-info tr td:first-of-type,
.table-info tr th:first-of-type {
    padding-left: 2rem;
}

.table-info th {
    background-color: #00556A;
    color: #ffffff;
    text-align: left;
    font-weight: 600;
}

.table-info thead {
    font-size: 1.5rem;
}

.table-info thead button {
    color: #ffff;
    background-color: #00556A;
    text-align: left;
    font-weight: 600;
    font-size: 1.5rem;
}

.table-info thead button:hover,
.table-info .active-filtro {
    color: #00bbff;
}

.table-info th,
td {
    padding: 12px 15px;
    font-size: 20px;
}

.table-info img{
    height: 30px;
}
.table-info tr {
    border-bottom: 1px solid #c9c9c9;
}

.table-info tr:last-of-type {
    border-bottom: 2px solid #00556A;
}

.table-info .active-bg {
    background-color: #d6d6d6;
}

.table-parametro input {
    background-color: #F8F1F1;
    transition: 200ms;
}

.table-parametro .input-porcentagem {
    width: 24px;
}

.table-parametro .input-bytes {
    width: 220px;
}

.table-parametro input:disabled,
.table-parametro span {
    color: #848484;
    transition: 200ms;
}

.table-parametro span {
    margin: -4px;
}