body {
    display: flex;
    background-color: #F8F1F1;
  }

.principal {
    width: 80%;
    height: 95vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.conteudo {
    height: 88vh;
    width: 120%;
}

.principal .titulo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.topo {
    display: flex;
    justify-content: space-between;
}
.titulo h1 {
    font-size: 35px;
}

