body {
    display: flex;

}

.menu {
    position: relative;
    height: 100vh;
}

.principal {
    width: 80%;
    height: 90vh;
    margin: auto;
    display: grid;
    column-gap: 20px;
    grid-template-areas: 
    'header header header'
    'kpi grafico grafico'
    'kpi grafico grafico'
    'kpi grafico grafico'
    'kpi grafico grafico'
    ;
}

.row{
    grid-area: header;
    background-color: aqua;
}

.column-graphic{
    grid-area: grafico;
    background-color: blue;
}

.column-kpi{
    grid-area: kpi;
    background-color: blue;
}

