.section-download,
.content-download,
.row,
.btnDownload a,
.steps {
    display: flex;
    align-items: center;
    justify-content: center;
}


.section-download {
    margin-left: 220px;
    height: 100vh;
}

.content-download {
    flex-direction: column;
    position: relative;
    padding: 3vh 0;
    width: 70vw;
    background-color: #EBEBEB;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.29);
}

.clip {
    position: absolute;
    height: 140px;
    top: -80px;
    left: -400px;
}

.title {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}

.row {
    width: 85%;
    gap: 2vw;
}

.story-img img {
    width: 363px;
}

.steps {
    flex-direction: column;
    gap: 20px;
}

.steps-text * {
    list-style-type: decimal !important
}

.steps-text li {
    font-size: 22px;
    margin-top: 1vh;
}

.copy {
    position: relative;
    font-size: 18px;
    background-color: #282828;
    color: #fff;
    width: max-content;
    padding: 10px;
    padding-right: 35px;
}

.copy span {
    color: #FF9A62;
}

.copyBtn {
    position: absolute;
    width: max-content;
    height: max-content;
    top: 8px;
    right: 8px;
    background-color: transparent;
}

.copy img {
    height: 20px;
    width: 20px;
    opacity: 0.5;
    transition: .2s;
}

.copyed {
    width: 140px;
    font-size: 14px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 130%;
    right: -57px;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
}

.copyed .copyedtext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 7px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.copyBtn:hover .copyed {
    opacity: 1;
}


.copyBtn:hover img {
    opacity: 1;
}

.btnDownload {
    background-color: #00556A;
    padding: 1vh 1vw;
    width: max-content;
    border-radius: 10px;
    font-weight: 700;
    color: #fff;
    transition: 0.3s;
}

.btnDownload span {
    font-size: 20px;
}

.btnDownload img {
    height: 40px;
    width: 40px;
}

.btnDownload:hover {
    transform: scale(1.04);
}