.formulario-login {
    height: 98.8vh;
    width: 60vw;
    background-color: aliceblue;
}
.topo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.seta img {
    width: 40px;
}

.logo {
    display: flex;
}

.logo img {
    width: 100px;
}