header {
  width: 100%;
  height: 160px;
  display: flex;
  position: fixed;
  transition: 1s;
}

header.active {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  height: 120px;

}

.logo img:nth-child(1) {
  display: none;
}


.logo>a>img {
  display: block !important;
}

.container {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

header .hamburguer {
  display: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  display: flex;
  column-gap: 20px;

}

.navbar li {
  color: #fff;
  font-size: 1.3em;
  height: 100%;
  cursor: pointer;
}

.navbar li:after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: #F5F5F5;
  transition: 0.5s;

}

.navbar li:hover:after {
  width: 100%;
}

.buttons {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

a {
  color: #F5F5F5;
}

.buttons button {
  width: max-content;
  height: max-content;
  align-items: center;
  padding: 12px 15px;
  background-color: #003849;
  color: #fff;
  border-radius: 7px;
  font-size: 1.3em;
  cursor: pointer;
}

.buttons button svg {
  vertical-align: middle;
  margin-right: 5px;

}

@media only screen and (max-width:830px) {
  header .container {
    display: flex;
    position: fixed;
    width: 0;
    right: -200px;
    height: 100vh;
    background-color: #222;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    align-items: flex-start;
    z-index: -9999;
    transition: 0.5s;
  }

  header .container>div {
    width: 100%;
  }

  header .container .navbar {
    flex-direction: column;
    row-gap: 30px;
    align-items: flex-start;
  }

  header .container .navbar ul {
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 30px;
  }

  header .container .navbar ul>li {
    display: flex;
  }

  header .hamburguer {
    display: block;
    position: absolute;
    right: 50px;
    top: 40px;
    cursor: pointer;
  }

  header .hamburguer>img {
    width: 50px;
  }

  header .container>div>.navbar>.logo {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
  }

  header .container>div>.navbar>.logo>a>img {
 
    display: block;
    width: 130px !important;
    width: 130px !important;
  }

  header .container>div>.navbar>.logo img:nth-child(1) {
    display: block;
    width: 30px;
    cursor: pointer;
  }

  .navbar>ul>li {
    display: flex;
    flex-direction: column;
    width: max-content;
  }

  header>.container.active {
    opacity: 100%;
    width: 400px;
    right: 0;

    z-index: 9999;
  }
}

/* SESSÃO INICIAL */
main {
  width: 100%;
}

.inicio {
  width: 100%;
  height: 100vh;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.inicio>.content {
  justify-content: flex-start;
}

.content-text {
  height: 40%;
}

.content-text>p {
  font-size: 3em;
  font-weight: 600;
  color: #F5F5F5;
  line-height: 90px;
  margin-bottom: 100px;
}


.content-text>button {
  padding: 15px;
  background-color: #003849;
  border-radius: 7px;
  font-size: 1.5em;
  color: #fff;
  font-weight: 600;
  transition: 0.5s;
  cursor: pointer;
}

.content-text>button:hover {
  scale: 1.1;
}


@media only screen and (max-width:820px) {



  .inicio>.container {
    justify-content: center;
  }

  .content-text {
    text-align: center;
  }

}



/* SERVIÇOS */
.services {
  width: 100%;
  height: 100vh;
  background-image: url("../img/pexels-adrien-olichon-3709402.png");
  background-size: cover;

}

.services>.container {
  display: grid;
  justify-content: center;
}

.content-card>div::-webkit-scrollbar {
  display: none;
}

.title {
  text-align: center;
}

.content-card {
  display: flex;
  flex-direction: column;
}

.content-card .boll {
  display: flex;
  justify-content: center;
}





.content-card>div {
  display: flex;
  overflow-x: scroll;
  width: 880px;
  column-gap: 10px;
  padding: 10px;
  scroll-behavior: smooth;
  transition: 1s;

}

.icon {
  width: 150px;
}

.card {
  flex-shrink: 0;
  background-color: #222;
  width: 280px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 15px;
  transition: 1s;
  border-radius: 7px;

}

.title>h2 {
  font-size: 2em;
  margin-bottom: 10px;
  color: #F5F5F5;
}

.title>p {
  font-size: 1.5em;
  color: #F5F5F5;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.card>.content-text {
  text-align: center;
}

.card>.content-text>h2 {
  margin-bottom: 10px;
  font-size: 1.2em;
  color: #fff;
}

.card>.content-text>p {
  font-size: 0.8em;
  line-height: 25px;
}

.btn {
  padding: 30px;
  background-color: #003849;
  border-radius: 50%;
  font-size: 1.5em;
  color: #fff;
  font-weight: 600;
  transition: 0.5s;
  cursor: pointer;
  position: absolute;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.next {
  transform: translate(830px, 160px);

}

.prev {
  transform: translate(-30px, 160px);
}

@media only screen and (max-width:820px) {
  .content-card>div {
    width: 580px;

  }

  .next {
    transform: translate(66vw, 160px);

  }
}

.paragrafo {
  text-indent: 50px;
  text-align: justify;
  flex: 1;
  font-size: 1.8em;
  margin: 0 50px;
  line-height: 55px !important;
}

/* EXPERIENCIA PERSONALIZADA */

@media screen and (max-width:820px) {
  .experience>.container {
    flex-direction: column;
    justify-content: center;
  }

  .experience>.container>.content-text h2 {
    text-align: center;
  }

  .experience>.container>.picture {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .experience>.container>.picture img {
    width: 600px;
  }
}

.experience {
  width: 100%;
  height: 100vh;
}


.experience .content-text {
  flex: 1;
}

.experience .picture {
  flex: 1;

}

.experience .content-text>h2 {
  font-size: 3em;
  color: #003849;
  margin-bottom: 10px;
}

.experience .content-text>p {
  font-size: 1.8em;
  font-weight: 400;
  color: #222;
}

.animate {
  position: absolute;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: #222;
  z-index: -1;

}

.animate {
  transform: translate(-40%, -80%);
}



.quem-somos>.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.quem-somos {
  width: 100%;
  height: 100vh;
}

.quem-somos>.container {
  row-gap: 120px;
  justify-content: center;
}

.quem-somos>.container>.title {
  font-size: 3em;
  font-weight: bold;
}

.quem-somos>.container>div {
  display: flex;
}

.quem-somos>.container>div>.figure {
  width: 45%;
  height: 70%;
  transform: translate(-100px, -90px);
  border-radius: 0 40% 40% 0;
  z-index: -1;
  background-color: #003849;
  position: absolute;
}

.quem-somos>.container>div>.picture {
  display: flex;
  align-items: center;
  justify-content: center;
}

.quem-somos>.container>div>.picture {
  flex: 1;
}

.quem-somos>.container>div>.picture>img {
  width: 70%;
  margin-bottom: 100px;
}

.quem-somos>.container>div>.content-text {
  flex: 1;
  font-size: 1.8em;
}


@media only screen and (max-width:820px) {

  .quem-somos>.container>div>.figure {
    width: 200px;
    height: 200px;

    transform: translate(190px, -250px);
    border-radius: 300px;
  }

  .quem-somos>.container>.title {
    mix-blend-mode: hard-light;
  }

  .quem-somos>.container>div {
    flex-direction: column;
  }

  .quem-somos {
    height: auto;
    padding: 80px 0;
  }

}

@media only screen and (max-width:820px) {


  .colaboration {
    min-height: auto !important;
    height: 100vh;

  }

  .colaboration>.container>div {
    display: grid;
    width: 700px;
    column-gap: 50px;
    overflow-x: scroll;
  }

  .colaboration>.container>div>.card-colaborador {
    min-width: 250px !important;
  }

}

.colaboration {
  width: 100%;
  min-height: 100vh;
  background-color: #222;
  display: flex;

}

.colaboration>.container {
  flex-direction: column;
  justify-content: center;
  row-gap: 100px;
  flex-wrap: wrap;
}

.colaboration>.container>.title {
  justify-content: center;
}



.card-colaborador {
  min-width: 250px;
  height: 430px;
  background-color: #003849;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  border-radius: 10px;
  flex-shrink: 0;
}

.card-colaborador .circle {
  width: 150px;
  height: 150px;
  background-color: #222;
  border-radius: 50%;
  overflow: hidden;
}

.card-colaborador>.content-card>h2 {
  font-size: 1.4em;
  color: #F5F5F5;
}

.card-colaborador>.content-card>h3 {
  color: #FFA800;
  font-size: 1.3em;
}

.card-colaborador>.content-card {
  text-align: center;


}

.colaboration>.container>div::-webkit-scrollbar {
  display: none;
}


.colaboration>.container>div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  column-gap: 30px;

}

.social {
  display: flex;
  column-gap: 20px;
}

.social img {
  width: 30px;
}

footer {
  background-color: #222;
  padding: 15px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  width: 100%;
}

footer>.container>.logo {
  width: 170px;
  height: 170px;

}

footer>.container>.logo {
  background-image: url("../img/logo.svg");
  background-repeat: no-repeat;
  background-position: center;
}

footer>.container>div>p,
footer>.container>div {
  color: #F5F5F5;
}

.links>h2 {
  color: #F5F5F5;
  font-size: 2em;
}

.links>ul>li>a {
  color: #F5F5F5;

}

.links>ul {
  display: grid;
  grid-template-columns: 2fr 2fr;
}